@model IEnumerable<TurističkaAgencija.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/Assets/images/contact_background.jpg"></div>
    <div class="home_content">
        <div class="home_title">Pregled rezervacija</div>
        <h1 style="text-align: center; font-weight: 700;" class="text-uppercase text-light">@ViewBag.PonudaNaziv</h1>
    </div>
</div>

<div class="container" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="row">
        <div class="col">
            @if (ViewBag.ErrMsg != "")
            {
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @ViewBag.ErrMsg
                        </div>
                    </div>
                </div>

            }
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Datum rezervacije
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ponuda)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Korisnik)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Iznos)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.DatumRezervacije.Value.Date.ToShortDateString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ponuda.Naziv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Korisnik.Ime) @Html.DisplayFor(modelItem => item.Korisnik.Prezime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Iznos) KM
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Rezervacija", new { ponudaId = item.PonudaId, korisnikId = item.KorisnikId})">Izmijeni</a> |
                                @Html.ActionLink(
                                    "Obriši",
                                    "Remove",
                                    "Rezervacija",
                                    new { ponudaId = item.PonudaId, korisnikId = item.KorisnikId },
                                    new { onclick = "return confirm('Da li sigurni da želite da obrišete?');" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="button home_slider_button">
                <div class="button_bcg"></div>
                <a href="@Url.Action("Create", "Rezervacija", new { ponudaId = ViewBag.PonudaId})">Nova rezervacija<span></span><span></span><span></span></a>
            </div>

            <a class="form_submit_button button trans_200" href="@Url.Action("Details", "Ponuda", new { id = ViewBag.PonudaId})" style="margin-bottom:15px; margin-left:10px;">Pogledaj ponudu<span></span><span></span><span></span></a>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/Assets/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Assets/js/contact_custom.js"></script>

}